In [2]:
import pandas as pd

df = pd.read_csv('/Users/tompease/Documents/Coding/titanic/data/train.csv')
df = df.drop(['Name', 'Ticket'], axis=1)
df['Cabin'] = df['Cabin'].fillna(1)
df['Age'] = df['Age'].fillna(df['Age'].mean())
# df.to_csv('/Users/tompease/Documents/Coding/titanic/data/cleaned_train.csv')

In [3]:
df

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,1,0,3,male,22.000000,1,0,7.2500,1,S
1,2,1,1,female,38.000000,1,0,71.2833,C85,C
2,3,1,3,female,26.000000,0,0,7.9250,1,S
3,4,1,1,female,35.000000,1,0,53.1000,C123,S
4,5,0,3,male,35.000000,0,0,8.0500,1,S
...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,male,27.000000,0,0,13.0000,1,S
887,888,1,1,female,19.000000,0,0,30.0000,B42,S
888,889,0,3,female,29.699118,1,2,23.4500,1,S
889,890,1,1,male,26.000000,0,0,30.0000,C148,C
890,891,0,3,male,32.000000,0,0,7.7500,1,Q